In [4]:
import pandas as pd 
df = pd.read_csv('Week_1/Datasets/iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [6]:
df.tail(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [13]:
df[df['SepalLengthCm'] >= 6.0]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
56,57,6.3,3.3,4.7,1.6,Iris-versicolor
...,...,...,...,...,...,...
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica

In [15]:
df['newColumn'] = df['SepalLengthCm'] *5

In [16]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species', 'newColumn'],
      dtype='object')

In [17]:
df.groupby('Species').mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,newColumn
Species,,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244,25.03
Iris-versicolor,75.5,5.936,2.770,4.260,1.326,29.68
Iris-virginica,125.5,6.588,2.974,5.552,2.026,32.94

In [18]:
df.sort_values('SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,newColumn
13,14,4.3,3.0,1.1,0.1,Iris-setosa,21.5
42,43,4.4,3.2,1.3,0.2,Iris-setosa,22.0
38,39,4.4,3.0,1.3,0.2,Iris-setosa,22.0
8,9,4.4,2.9,1.4,0.2,Iris-setosa,22.0
41,42,4.5,2.3,1.3,0.3,Iris-setosa,22.5
...,...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica,38.5
118,119,7.7,2.6,6.9,2.3,Iris-virginica,38.5
117,118,7.7,3.8,6.7,2.2,Iris-virginica,38.5
135,136,7.7,3.0,6.1,2.3,Iris-virginica,38.5
131,132,7.9,3.8,6.4,2.0,Iris-virginica,39.5

In [19]:
df.sort_values(['SepalLengthCm','SepalWidthCm'])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,newColumn
13,14,4.3,3.0,1.1,0.1,Iris-setosa,21.5
8,9,4.4,2.9,1.4,0.2,Iris-setosa,22.0
38,39,4.4,3.0,1.3,0.2,Iris-setosa,22.0
42,43,4.4,3.2,1.3,0.2,Iris-setosa,22.0
41,42,4.5,2.3,1.3,0.3,Iris-setosa,22.5
...,...,...,...,...,...,...,...
118,119,7.7,2.6,6.9,2.3,Iris-virginica,38.5
122,123,7.7,2.8,6.7,2.0,Iris-virginica,38.5
135,136,7.7,3.0,6.1,2.3,Iris-virginica,38.5
117,118,7.7,3.8,6.7,2.2,Iris-virginica,38.5
131,132,7.9,3.8,6.4,2.0,Iris-virginica,39.5

In [24]:
df.dropna(axis=0,inplace=True)

In [25]:
df.dropna(axis=1,inplace=True)

In [26]:
df.fillna(0,inplace=True)

In [28]:
df.to_csv('output.csv',index = True)